<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="artistRepository" class="org.icesi.discography.repositories.ArtistRepository">

    </bean>
    <bean id="trackRepository" class="org.icesi.discography.repositories.TrackRepository">

    </bean>
    <bean id="artistService" class="org.icesi.discography.services.ArtistService">
        <property name="artistRepository" ref="artistRepository"/>
    </bean>
    <bean id="trackService" class="org.icesi.discography.services.TrackService">
        <property name="trackRepository" ref="trackRepository"/>
        <property name="artistService" ref="artistService"/>
    </bean>
    <bean id="dataLoader" class="org.icesi.discography.utils.DataLoader" init-method="init">
        <property name="trackRepository" ref="trackRepository"/>
        <property name="artistRepository" ref="artistRepository"/>
    </bean>

</beans>